.container {
  min-height: 100vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.banner {
  background: linear-gradient(to right, #e5e5e5, #f5f5f5);
  border-radius: 24px;
  width: 100%;
  max-width: 900px;
  padding: 32px;
  height: 40vh;
}

.content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logoWrapper {
  margin-left: 30px;
  position: relative;
  width: 240px;
  height: 300px;
  flex-shrink: 0;
}

.logo {
  object-fit: contain;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textContent h1 {
  color: #8B4513;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.textContent p {
  color: #666;
  margin: 0;
}

.socialLinks {
  display: flex;
  gap: 20px;
}

.socialLink {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 15px;
  box-shadow: 5px 5px 3px #6666669f;
}

.socialLink img {
  border-radius: 12px;
}

.button {
  display: inline-block;
  background-color: white;
  padding: 10px 24px;
  border-radius: 9999px;
  text-decoration: none;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
  font-size: 14px;
  width: fit-content;
  transition: all 0.5s;
}

.button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #cbe4b3;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .logoWrapper {
    margin-left: 0px;
    position: relative;
    width: 240px;
    height: 300px;
    flex-shrink: 0;
  }

  .content {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .textContent {
    align-items: center;
  }

  .logoWrapper {
    width: 120px;
    height: 120px;
  }

  .banner {
    background: linear-gradient(to right, #e5e5e5, #f5f5f5);
    border-radius: 24px;
    width: 100%;
    max-width: 900px;
    padding: 32px;
    height: 70vh;
  }

  .button { 
    margin-top: 20px;
  }
}

